# Telegram
BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_IDS=123456789

# 3x-ui
XUI_URL=https://127.0.0.1:2053
XUI_USERNAME=kiki
XUI_PASSWORD=CHANGE_ME
XUI_INBOUND_ID=1

# Public VLESS settings used for generated V2Box links
SERVER_ADDRESS=74.208.111.94
VLESS_PORT=443
VLESS_SNI=www.cloudflare.com
VLESS_FP=chrome
REALITY_PUBLIC_KEY=PUT_YOUR_REALITY_PUBLIC_KEY_HERE
REALITY_SHORT_ID=6160a64848b588
REALITY_SPX=/e4y4sZnlSa1renD

# Admin web
ADMIN_PANEL_PASSWORD=CHANGE_THIS
WEB_HOST=0.0.0.0
WEB_PORT=8080
SHOP_NAME=V2BOX KEY SHOP
CURRENCY=MMK
